html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  position: relative;
}

.custom-control-indicator {
  background-color: #59a9c2;
  height: 14px;
  width: 14px;
}

.custom-control-description {
  font-size: 16px;
}

.custom-control {
  padding-left: 20px;
}

.lb-options {
  position: absolute;
}

.lb-drop {
  float: right;
}

.lb-drop a:focus,
.lb-drop a:hover {
  text-decoration: none;
}

.lb-optionsbox {
  padding-left: 10px;
}

.lb-container {
  min-height: 100vh;
  margin: 0;
  border-radius: 0;
}

.lb-cointainer-fluid {
  padding-top: 50px;
}

.lb-ta {
  display: none;
}

.lb-checkbox.checked .lb-indicator,
.lb-checkbox-es2015.checked .lb-indicator {
  background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'> <path fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z' /> </svg>");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.lb-checkbox .lb-indicator,
.lb-checkbox-es2015 .lb-indicator {
  color: #fff;
  background-color: #62a8e6;
  height: 12px;
  width: 12px;
}

.cm-topminify {
  left: 88px;
  border-radius: 6px;
  position: absolute;
  top: 7px;
}

.cm-topminify-es2015 {
  left: 215px;
  border-radius: 6px;
  position: absolute;
  top: 7px;
}

.cm-topminify .custom-control.custom-checkbox.custom-control-inline label.custom-control-label,
.cm-topminify-es2015 .custom-control.custom-checkbox.custom-control-inline label.custom-control-label {
  font-size: 14px;
}

.cm-topminify label.custom-control-label::before,
.cm-topminify-es2015 label.custom-control-label::before {
  border-radius: 0;
}

.cm-topminify label.custom-control-label::before,
.cm-topminify-es2015 label.custom-control-label::before {
  position: absolute;
  top: 5px;
  left: -18px;
  display: block;
  width: 12px;
  height: 12px;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #62a8e6;
}

.cm-topminify label.custom-control-label::after,
.cm-topminify-es2015 label.custom-control-label::after {
  position: absolute;
  top: 3px;
  left: -20px;
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 65% 65%;
}

.cm-topminify:hover,
.cm-topminify-es2015:hover {
  cursor: pointer;
  text-align: right;
}

.page-enter-active,
.page-leave-active {
  transition: opacity .4s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}

.header_section {
  background: #333 url("~assets/images/big.jpg") 50%;
  background-size: cover;
  text-align: center;
  padding: 140px 0 80px;
  min-height: 400px;
}

.header_section h1 {
  color: #f5da55;
  font-size: 2.2em;
  font-weight: 400;
  letter-spacing: -.02em;
  margin-bottom: 100px;
}

@media (min-width: 768px) {
  .header_section h1 {
    font-size: 3em;
  }
}
.header_section .btn-outline-warning {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: #f5da55;
  margin-bottom: 50px;
  max-width: 90%;
  width: 400px;
}

.header_section .btn-outline-warning:hover {
  color: #f5da55;
  background-color: #212529;
  border-color: #212529;
}

.iframestar {
  border: 0;
  background-color: transparent;
  height: 32px;
  width: 143px;
}
.footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
  text-align: center;
}
.navbar {
  border-bottom: 2px solid #f5da55;
}
.navbar-default {
  background-color: #323330;
}

.navbar-default .navbar-nav .nav-link{
  color: #f5da55 !important;
  font-size: 18px;
  text-transform: uppercase;
}

.logo {
  background: url("~assets/images/lebab-logogold.png") no-repeat center;
  background-size: auto 46px;
  width: 60px;
  height: 50px;
}

.logo.navbar-brand {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.navbar-brand {
  float: left;
  padding: 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
}

.navbar-brand > img {
  display: block;
}

.fork-me {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  border: 0;
}

@media (min-width: 992px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
