.cm-s-panda-syntax {
 background: #292a2b;
 color: #e6e6e6;
 line-height: 1.5;
 box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.36);
}

.cm-topbar {
 height: 40px;
 background: linear-gradient(180deg, #c7c7c7, #b1b1b1);
 border-top-left-radius: 6px;
 border-top-right-radius: 6px;
 border-top: 1px solid #faf9ff;
 position: relative;
}

.cm-topone {
 background-color: #ff6052;
 left: 10px;
 height: 12px;
 width: 12px;
 border-radius: 6px;
 position: absolute;
 top: 14px;
}

.cm-toptwo {
 background-color: #ffbe06;
 left: 32px;
 height: 12px;
 width: 12px;
 border-radius: 6px;
 position: absolute;
 top: 14px;
}

.cm-topthree {
 background-color: #16cc37;
 left: 54px;
 height: 12px;
 width: 12px;
 border-radius: 6px;
 position: absolute;
 top: 14px;
}

.vue-codemirror.a>.CodeMirror {
 height: 100%;
}

.CodeMirror {
 font-size: 16px;
 height: 80vh;
}

.CodeMirror div.CodeMirror-cursor {
 border-left: 1px solid #e6e6e6;
}

.cm-s-panda-syntax .CodeMirror-activeline-background {
 background: rgba(99, 123, 156, 0.1);
}

.cm-s-panda-syntax .CodeMirror-selected {
 background: #fff;
}

.cm-s-panda-syntax .cm-comment {
 font-style: italic;
 color: #676b79;
}

.cm-s-panda-syntax .cm-operator {
 color: #f3f3f3;
}

.cm-s-panda-syntax .cm-string {
 color: #19f9d8;
}

.cm-s-panda-syntax .cm-string-2 {
 color: #ffb86c;
}

.cm-s-panda-syntax .cm-tag {
 color: #ff2c6d;
}

.cm-s-panda-syntax .cm-meta {
 color: #b084eb;
}

.cm-s-panda-syntax .cm-number {
 color: #ffb86c;
}

.cm-s-panda-syntax .cm-atom {
 color: #ff2c6d;
}

.cm-s-panda-syntax .cm-keyword {
 color: #ff75b5;
}

.cm-s-panda-syntax .cm-variable {
 color: #ffb86c;
}

.cm-s-panda-syntax .cm-variable-2 {
 color: #ff9ac1;
}

.cm-s-panda-syntax .cm-variable-3,
.cm-s-panda-syntax .cm-type {
 color: #ff9ac1;
}

.cm-s-panda-syntax .cm-def {
 color: #e6e6e6;
}

.cm-s-panda-syntax .cm-property {
 color: #f3f3f3;
}

.cm-s-panda-syntax .cm-unit {
 color: #ffb86c;
}

.cm-s-panda-syntax .cm-attribute {
 color: #ffb86c;
}

.cm-s-panda-syntax .CodeMirror-matchingbracket {
 border-bottom: 1px dotted #19f9d8;
 padding-bottom: 2px;
 color: #e6e6e6;
}

.cm-s-panda-syntax .CodeMirror-gutters {
 background: #292a2b;
 border-right-color: rgba(255, 255, 255, 0.1);
}

.cm-s-panda-syntax .CodeMirror-linenumber {
 opacity: 0.6;
}

.CodeMirror-wrap pre {
 padding-left: 10px;
}