{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "plugin:vue/recommended"
  ],
  "plugins": [
    "vue"
  ],
  "rules": {
    "indent": [
      "error",
      2
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "no-console": "off",
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "brace-style": "error",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "array-bracket-newline": [
      "error",
      {
        "minItems": 3
      }
    ],
    "array-bracket-spacing": [
      "error",
      "always"
    ],
    "prefer-destructuring": [
      "error",
      {
        "object": true,
        "array": true
      }
    ],
    "switch-colon-spacing": "error",
    "key-spacing": "error",
    "comma-spacing": "error",
    "arrow-spacing": "error",
    "arrow-body-style": "error",
    "no-unused-vars": "error"
  }
}